.basket {
  top: 143px;
  position: fixed;
  right: 50%;
  z-index: 500;

  margin-right: -506px;
  width: 50px;
  height: 50px;

  @include border-radius(50%);
  background: $brand-red;
  color: white;
  padding-top: 2px;

  text-align: center;
  font-size: $font-size-large;

  cursor: pointer;

  @include transition(all .2s ease-in-out);

  &:after{
    position: relative;
    content: '\e803';
    top: -5px;
    left: -2px;
    font-size: 23px!important;
    font-family: 'Icon';
    display: block;
  }

  &:hover {
    text-decoration: none;
    .basket__countdown {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }
}
.basket--out {
  animation-name: basket-out;
  animation-duration: .4s;
  animation-timing-function: ease-in-out;
  animation-delay: .6s;

  -webkit-animation-delay: .6s;
  -webkit-animation-name: basket-out;
  -webkit-animation-duration: .4s;
  -webkit-animation-timing-function: ease-in-out;
}
@keyframes basket-out {
  0% {
   transform: scale(1);
  }
  50% {
   transform: scale(1.2);
  }
  100% {
   transform: scale(0);
  }
}

.basket_segments {
  position: absolute;
  margin: 0;
  list-style: none;
  left: 40.1px;
  top: 1px;
}
.basket_segment {
  position: absolute;
  left: -45px;
  top: -6px;
  width: 60px;
  height: 60px;
}

.segment_1 {
  background-image: url('/1.0.0/images/basket/1.png');
}
.segment_2 {
  background-image: url('/1.0.0/images/basket/2.png');
}
.segment_3 {
  background-image: url('/1.0.0/images/basket/3.png');
}
.segment_4 {
  background-image: url('/1.0.0/images/basket/4.png');
}
.segment_5 {
  background-image: url('/1.0.0/images/basket/5.png');
}
.segment_6 {
  background-image: url('/1.0.0/images/basket/6.png');
}
.segment_7 {
  background-image: url('/1.0.0/images/basket/7.png');
}
.segment_8 {
  background-image: url('/1.0.0/images/basket/8.png');
}
.segment_9 {
  background-image: url('/1.0.0/images/basket/9.png');
}
// .basket_segment:first-child {
//   animation-name: flicker;
//   animation-duration: 2s;
//   animation-iteration-count: infinite;
//   animation-timing-function: ease-in-out;
//   animation-delay: 0s;

//   -webkit-animation-name: flicker;
//   -webkit-animation-duration: 2s;
//   -webkit-animation-iteration-count: infinite;
//   -webkit-animation-timing-function: ease-in-out;
//   -webkit-animation-delay: 0s;
// }
.basket_segment--dying {
  -webkit-animation: flicker 2s infinite ease-in-out;
  -moz-animation:    flicker 2s infinite ease-in-out;
  -o-animation:      flicker 2s infinite ease-in-out;
  animation:         flicker 2s infinite ease-in-out;
}
.basket_segment--onlyone {
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}
.basket_segment--flicker-faster {
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

}
.basket_segment--dead {
  opacity: 0;
  -webkit-animation: flicker_dead 3s ease-in-out;
  -moz-animation:    flicker_dead 3s ease-in-out;
  -o-animation:      flicker_dead 3s ease-in-out;
  animation:         flicker_dead 3s ease-in-out;
}
@keyframes flicker {
  0% {
   opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flicker {
  0% {
   opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flicker {
  0% {
   opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flicker {
  0% {
   opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker_dead {
  0% {
   opacity: 1;
  }
  33% {
   opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes flicker_dead {
  0% {
   opacity: 1;
  }
  33% {
   opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes flicker_dead {
  0% {
   opacity: 1;
  }
  33% {
   opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes flicker_dead {
  0% {
   opacity: 1;
  }
  33% {
   opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.basket__countdown {
  position: absolute;
  left: -185px;
  top: 0;
  top: 0px;
  width: 170px;
  height: 47px;
  background: #fff;
  border: 1px solid $blue;
  display: none;
  visibility: hidden;
  opacity: 0;
  @include transition(all 0.2s ease);

  &:before, &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:before {
    // border-bottom-color: $blue;
    border-left-color: $blue;;
    border-width: 10px;
    top: 13px;
    right: -21px;
  }

  &:after {
    // border-bottom-color: #fff;
    border-color: rgba(194,225,245,0);
    border-left-color: #fff;
    border-width: 10px;
    right: -20px;
    top: 13px;
  }
}
.basket__countdown-text {
  margin: 0;
  margin-top: 5px;
  color: $gray;
  font-family: $font-family-sans-narrow;
  font-size: $font-size-small;
  strong  {
    font-size: $font-size-base
  }
}

[state='main.index'],
[state='main.tickets.index'],
[state='main.magazine.index'],
[state='main.magazine.rubric'],
[state='main.magazine.subrubric'] {
  .basket {
    margin-right: -494px;

    @media (min-width: $screen-large-min) {
      margin-right: -642px;
    }
  }
}

[state='main.tickets.booking.cart'], 
[state='main.tickets.booking.congratulations'],
[state='main.tickets.booking.schedule'] {
  .basket {
    display: none !important;
  }
}

